In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
import sweetviz as sv

In [2]:
# Function for converting the datatype of all columns' data points whose name is ending with id from int to string
def convert_id_to_string(df):
    for col in df.columns:
        if col.endswith('id'):
            df[col] = df[col].astype(str)
    return df

# **EDA by Sweetviz**

## 1. Train Data

In [3]:
train_data = pd. read_csv(r'D:\Other Involment\Data Science\American_express_project_repo\American_Express_Project\Raw Data\663e2b6d54457_train_data_with_samplefeatures.csv')

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948 entries, 0 to 947
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   match_id                   948 non-null    int64
 1   team1                      948 non-null    object
 2   team1_id                   948 non-null    int64
 3   team1_roster_ids           948 non-null    object
 4   team2                      948 non-null    object
 5   team2_id                   948 non-null    int64
 6   team2_roster_ids           948 non-null    object
 7   winner                     948 non-null    object
 8   winner_id                  948 non-null    int64
 9   toss winner                948 non-null    object
 10  toss decision              948 non-null    object
 11  venue                      948 non-null    object
 12  city                       948 non-null    object
 13  match_dt                   948 non-null    object
 14  lighting                   948 non-null    object
 15  series_name                948 non-null    object
 16  season                     948 non-null    object
 17  ground_id                  948 non-null    int64
 18  team_count_50runs_last15   948 non-null    float64
 19  team_winp_last5            948 non-null    float64
 20  team1only_avg_runs_last15  927 non-null    float64
 21  team1_winp_team2_last15    948 non-null    float64
 22  ground_avg_runs_last15     895 non-null    float64
dtypes: float64(5), int64(5), object(13)
memory usage: 170.5+ KB

In [5]:
convert_id_to_string(train_data)
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948 entries, 0 to 947
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   match_id                   948 non-null    object
 1   team1                      948 non-null    object
 2   team1_id                   948 non-null    object
 3   team1_roster_ids           948 non-null    object
 4   team2                      948 non-null    object
 5   team2_id                   948 non-null    object
 6   team2_roster_ids           948 non-null    object
 7   winner                     948 non-null    object
 8   winner_id                  948 non-null    object
 9   toss winner                948 non-null    object
 10  toss decision              948 non-null    object
 11  venue                      948 non-null    object
 12  city                       948 non-null    object
 13  match_dt                   948 non-null    object
 14  lighting                   948 non-null    object
 15  series_name                948 non-null    object
 16  season                     948 non-null    object
 17  ground_id                  948 non-null    object
 18  team_count_50runs_last15   948 non-null    float64
 19  team_winp_last5            948 non-null    float64
 20  team1only_avg_runs_last15  927 non-null    float64
 21  team1_winp_team2_last15    948 non-null    float64
 22  ground_avg_runs_last15     895 non-null    float64
dtypes: float64(5), object(18)
memory usage: 170.5+ KB

In [21]:
# Analyze the dataset
my_report = sv.analyze(train_data) 

# Display the Sweetviz report
my_report.show_html("train_Report.html")  # This will generate an HTML report

                                             |          | [  0%]   00:00 -> (? left)

Report train_Report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

## 2. Test Data

In [7]:
test_data = pd.read_csv(r'D:\Other Involment\Data Science\American_express_project_repo\American_Express_Project\Raw Data\6644a1e287df6_test_data_with_samplefeatures.csv')

In [8]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   match_id                   271 non-null    int64
 1   team1                      271 non-null    object
 2   team1_id                   271 non-null    int64
 3   team1_roster_ids           271 non-null    object
 4   team2                      271 non-null    object
 5   team2_id                   271 non-null    int64
 6   team2_roster_ids           271 non-null    object
 7   toss winner                271 non-null    object
 8   toss decision              271 non-null    object
 9   venue                      271 non-null    object
 10  city                       271 non-null    object
 11  match_dt                   271 non-null    object
 12  lighting                   271 non-null    object
 13  series_name                271 non-null    object
 14  season                     271 non-null    object
 15  ground_id                  271 non-null    int64
 16  team_count_50runs_last15   271 non-null    float64
 17  team_winp_last5            271 non-null    float64
 18  team1only_avg_runs_last15  264 non-null    float64
 19  team1_winp_team2_last15    271 non-null    float64
 20  ground_avg_runs_last15     261 non-null    float64
dtypes: float64(5), int64(4), object(12)
memory usage: 44.6+ KB

In [9]:
convert_id_to_string(test_data)
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   match_id                   271 non-null    object
 1   team1                      271 non-null    object
 2   team1_id                   271 non-null    object
 3   team1_roster_ids           271 non-null    object
 4   team2                      271 non-null    object
 5   team2_id                   271 non-null    object
 6   team2_roster_ids           271 non-null    object
 7   toss winner                271 non-null    object
 8   toss decision              271 non-null    object
 9   venue                      271 non-null    object
 10  city                       271 non-null    object
 11  match_dt                   271 non-null    object
 12  lighting                   271 non-null    object
 13  series_name                271 non-null    object
 14  season                     271 non-null    object
 15  ground_id                  271 non-null    object
 16  team_count_50runs_last15   271 non-null    float64
 17  team_winp_last5            271 non-null    float64
 18  team1only_avg_runs_last15  264 non-null    float64
 19  team1_winp_team2_last15    271 non-null    float64
 20  ground_avg_runs_last15     261 non-null    float64
dtypes: float64(5), object(16)
memory usage: 44.6+ KB

In [22]:
# Analyze the dataset
my_report = sv.analyze(test_data) 

# Display the Sweetviz report
my_report.show_html("test_Report.html")  # This will generate an HTML report

                                             |          | [  0%]   00:00 -> (? left)

Report test_Report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

## 3. Bowler Data

In [12]:
bowler_data = pd.read_csv(r'D:\Other Involment\Data Science\American_express_project_repo\American_Express_Project\Raw Data\663e2b2c60743_bowler_level_scorecard.csv')
bowler_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18539 entries, 0 to 18538
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   match id           18539 non-null  int64
 1   bowler             18539 non-null  object
 2   bowler_id          18539 non-null  float64
 3   bowler_details     18539 non-null  object
 4   is_bowler_captain  18539 non-null  float64
 5   is_bowler_keeper   18539 non-null  float64
 6   inning             18539 non-null  int64
 7   runs               18539 non-null  int64
 8   wicket_count       18539 non-null  int64
 9   balls_bowled       18539 non-null  int64
 10  economy            18539 non-null  float64
 11  maiden             18539 non-null  int64
 12  dots               18539 non-null  float64
 13  Fours              18539 non-null  int64
 14  Sixes              18539 non-null  int64
 15  wides              18539 non-null  int64
 16  noballs            18539 non-null  int64
 17  match_dt           18539 non-null  object
dtypes: float64(5), int64(10), object(3)
memory usage: 2.5+ MB

In [15]:
convert_id_to_string(bowler_data)
bowler_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18539 entries, 0 to 18538
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   match id           18539 non-null  object
 1   bowler             18539 non-null  object
 2   bowler_id          18539 non-null  object
 3   bowler_details     18539 non-null  object
 4   is_bowler_captain  18539 non-null  float64
 5   is_bowler_keeper   18539 non-null  float64
 6   inning             18539 non-null  int64
 7   runs               18539 non-null  int64
 8   wicket_count       18539 non-null  int64
 9   balls_bowled       18539 non-null  int64
 10  economy            18539 non-null  float64
 11  maiden             18539 non-null  int64
 12  dots               18539 non-null  float64
 13  Fours              18539 non-null  int64
 14  Sixes              18539 non-null  int64
 15  wides              18539 non-null  int64
 16  noballs            18539 non-null  int64
 17  match_dt           18539 non-null  object
dtypes: float64(4), int64(9), object(5)
memory usage: 2.5+ MB

In [23]:
# Analyze the dataset
my_report = sv.analyze(bowler_data) 

# Display the Sweetviz report
my_report.show_html("bowler_Report.html")  # This will generate an HTML report

                                             |          | [  0%]   00:00 -> (? left)

Report bowler_Report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

## 4. Batsman Data

In [16]:
batsman_data= pd.read_csv(r'D:\Other Involment\Data Science\American_express_project_repo\American_Express_Project\Raw Data\663e2b548c98c_batsman_level_scorecard.csv')
batsman_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24483 entries, 0 to 24482
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   match_id            24483 non-null  int64
 1   batsman             24483 non-null  object
 2   batsman_id          24483 non-null  float64
 3   batsman_details     24483 non-null  object
 4   is_batsman_captain  24483 non-null  float64
 5   is_batsman_keeper   24483 non-null  float64
 6   inning              24483 non-null  int64
 7   runs                24483 non-null  int64
 8   balls_faced         24483 non-null  int64
 9   over_faced_first    24483 non-null  float64
 10  wicket kind         19155 non-null  object
 11  out_by_bowler       19155 non-null  object
 12  out_by_fielder      24483 non-null  object
 13  bowler_id           18128 non-null  float64
 14  bowler_details      18128 non-null  object
 15  is_bowler_keeper    18698 non-null  float64
 16  is_bowler_captain   18128 non-null  float64
 17  strike_rate         24474 non-null  float64
 18  Fours               14200 non-null  float64
 19  Sixes               8994 non-null   float64
 20  match_dt            24483 non-null  object
dtypes: float64(10), int64(4), object(7)
memory usage: 3.9+ MB

In [17]:
convert_id_to_string(batsman_data)
batsman_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24483 entries, 0 to 24482
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   match_id            24483 non-null  object
 1   batsman             24483 non-null  object
 2   batsman_id          24483 non-null  object
 3   batsman_details     24483 non-null  object
 4   is_batsman_captain  24483 non-null  float64
 5   is_batsman_keeper   24483 non-null  float64
 6   inning              24483 non-null  int64
 7   runs                24483 non-null  int64
 8   balls_faced         24483 non-null  int64
 9   over_faced_first    24483 non-null  float64
 10  wicket kind         19155 non-null  object
 11  out_by_bowler       19155 non-null  object
 12  out_by_fielder      24483 non-null  object
 13  bowler_id           24483 non-null  object
 14  bowler_details      18128 non-null  object
 15  is_bowler_keeper    18698 non-null  float64
 16  is_bowler_captain   18128 non-null  float64
 17  strike_rate         24474 non-null  float64
 18  Fours               14200 non-null  float64
 19  Sixes               8994 non-null   float64
 20  match_dt            24483 non-null  object
dtypes: float64(8), int64(3), object(10)
memory usage: 3.9+ MB

In [24]:
# Analyze the dataset
my_report = sv.analyze(batsman_data) 

# Display the Sweetviz report
my_report.show_html("batsman_Report.html")  # This will generate an HTML report

                                             |          | [  0%]   00:00 -> (? left)

Report batsman_Report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.